pkgbase = wolfmame
	pkgdesc = Port of the popular Multiple Arcade Machine Emulator using SDL with OpenGL support - now optimized for MARP and speedrunning
	pkgver = 0.233
	pkgrel = 1
	url = http://replay.marpirc.net/
	arch = x86_64
	license = GPL
	makedepends = nasm
	makedepends = python
	makedepends = asio
	makedepends = rapidjson
	makedepends = glm
	makedepends = libxinerama
	makedepends = sdl2_ttf
	makedepends = qt5-base
	makedepends = lua53
	makedepends = libutf8proc
	makedepends = pugixml
	makedepends = portmidi
	makedepends = portaudio
	makedepends = flac
	source = https://github.com/mahlemiut/wolfmame/archive/wolf233.tar.gz
	source = wolfmame.sh
	source = wolfmame.desktop
	source = wolfmame.svg
	sha256sums = 442cbf629aae3f3e7cbd7a02f38d8576446f8a682c840562070aa3ff7fc7be6f
	sha256sums = 454bc344bfe6ee12666ccae4884b77a5a98f2b23df7d78a3dfa475a6322d16f4
	sha256sums = 72c0664615cfd65f116ffdfb856dd5ea412a17c3bac763c3a4ec40b4648940da
	sha256sums = 17c442c933d764175e4ce1de50a80c0c2ddd5d733caf09c3cd5e6ba697ac43f4

pkgname = wolfmame
	depends = sdl2_ttf
	depends = qt5-base
	depends = lua53
	depends = libutf8proc
	depends = pugixml
	depends = portmidi
	depends = portaudio
	depends = flac
	depends = hicolor-icon-theme
	provides = mame
	conflicts = mame

pkgname = wolfmame-tools
	pkgdesc = Port of the popular Multiple Arcade Machine Emulator using SDL with OpenGL support - now optimized for MARP and speedrunning (tools)
	depends = sdl2
	depends = libutf8proc
	depends = flac
	provides = mame-tools
	conflicts = mame-tools
